{% extends "layout.html" %}
{% block title %}
KNOW
{% endblock  %}

{% block content %}
<div class="container mt-5" style="max-width: 450px;">
    <h2 class="text-center mb-4">Create an Account</h2>
 <form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success w-100 mt-2">Register</button>
</form>
   <p class="text-center mt-3">
        Already have an account?
        <a href="{% url 'login' %}">Login here</a>
    </p>
</div>
{% endblock %}
 