{% extends "layout.html" %}
{% block title %}
KNOW
{% endblock  %}

{% block content %}
<img src="{{ profile.profile_photo.url }}">

<p><strong>User Name:</strong> {{ profile.user.username }}</p>
<p><strong>User ID:</strong> {{profile.user_id}}</p>

<a href="{% url 'edit_profile' %}">Edit Profile</a> 
{% endblock %}

{% comment %} <img src="{{ profile.profile_photo.url }}" width="150" height="150" style="border-radius:50%;">

<p><strong>User Name:</strong> {{ profile.user.username }}</p>
<p><strong>User ID:</strong> {{ profile.user_id }}</p>

<a href="{% url 'edit_profile' %}">Edit Profile</a> {% endcomment %}
